In [326]:
import pandas as pd
import numpy as np 
import datetime

In [327]:
# Reading the file
df = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [329]:
# 1.Showing the dataframe shape.

df.shape

(10910, 26)

In [ ]:
# 2.Standardizing header names
df.columns=df.columns.str.replace(' ','_') 
df.columns = df.columns.str.lower()
df = df.rename(columns={'employmentstatus':'employment_status'})
df

In [332]:

df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employment_status', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [333]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [334]:
# 3.The columns that are numerical:

df.select_dtypes(include=np.number).columns.tolist()

['unnamed:_0',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

In [335]:
# 4.The columns that are categorical:

df.select_dtypes(include=object).columns.tolist()

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employment_status',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

In [340]:
# 5.Checking the NaN values

In [336]:
count = df.isna().sum()

In [337]:
count

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [341]:
# 5.Replacing the NaN values with "0"
df = df.fillna(0)

In [342]:
# 5.Checking for `NaN` values after replacing them with "0"
df.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
dtype: int64

In [343]:
# 6.storing the months from the dataset in a separate column.

df['new_effective_to_date'] = df['effective_to_date']
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,new_effective_to_date
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,0,2/18/11
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,0,1/18/11
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2/10/11
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1/11/11
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,0,1/17/11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1/19/11
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1/6/11
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,0,2/6/11
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2/13/11
10909,10909,IV32877,0,6857.519928,0,Basic,Bachelor,1/8/11,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,0,1/8/11

In [344]:
# 6.converting dates in datetime format

df['new_effective_to_date'] = pd.to_datetime(df['new_effective_to_date'], errors='coerce') 
df['new_effective_to_date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: new_effective_to_date, Length: 10910, dtype: datetime64[ns]

In [325]:

# 6.Datetime format - Extracting the months from the dataset. Then filtering the data to show only the information for the first quarter , ie. January, February and March.

df['new_effective_to_date'] = pd.to_datetime(df['new_effective_to_date'], format='%Y-%m-%d')
  
filtered_df = df.loc[ df['new_effective_to_date'].dt.quarter.isin([1])]

filtered_df['new_effective_to_date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: new_effective_to_date, Length: 10910, dtype: datetime64[ns]

In [368]:
# Bonus - Puting all the previously mentioned data transformations into a function.


def f(file_location, date_field, quarter):

    df = pd.read_csv(file_location)
    df

    # 1.Showing the dataframe shape.

    answer1 = ' 1.Showing the dataframe shape', df.shape

    # 2.Standardizing header names
    df.columns=df.columns.str.replace(' ','_') 
    df.columns = df.columns.str.lower()
    df = df.rename(columns={'employmentstatus':'employment_status'})
    answer2 = '2.Standardizing header names',df

    # 3.The columns that are numerical:

    answer3 = '3.The columns that are numerical:',df.select_dtypes(include=np.number).columns.tolist()

    # 4.The columns that are categorical:

    answer4 = '4.The columns that are categorical:',df.select_dtypes(include=object).columns.tolist()
           

 
    # 5.Checking the NaN values
    count = df.isna().sum()
    count

    # 5.Replacing the NaN values with "0"
    df = df.fillna(0)

    # 5.Checking for `NaN` values after replacing them with "0"
    df.isna().sum()

    
    answer5 =   '5. Checking for `NaN` values after replacing them with "0"',  df.isna().sum()
   

    # 6.storing the months from the dataset in a separate column.
    df['new_effective_to_date'] = df[date_field]
    df

    # 6.converting dates in datetime format

    df['new_effective_to_date'] = pd.to_datetime(df['new_effective_to_date'], errors='coerce') 
    df['new_effective_to_date']

    # 6.Datetime format - Extracting the months from the dataset. Then filtering the data to show only the information for the first quarter , ie. January, February and March.

    df['new_effective_to_date'] = pd.to_datetime(df['new_effective_to_date'], format='%Y-%m-%d')

    filtered_df = df.loc[ df['new_effective_to_date'].dt.quarter.isin([quarter])]
    
    answer6 = '6. Extracting the months from the dataset. Then filtering the data to show only quarter ' + str(quarter)+ ': ',filtered_df

    return answer1, answer2, answer3, answer4, answer5, answer6, 'data frame: ', df




f('files_for_lab/csv_files/marketing_customer_analysis.csv', 'effective_to_date',1)

((' 1.Showing the dataframe shape', (10910, 26)),
 ('2.Standardizing header names',
         unnamed:_0 customer       state  customer_lifetime_value response  \
  0               0  DK49336     Arizona              4809.216960       No
  1               1  KX64629  California              2228.525238       No
  2               2  LZ68649  Washington             14947.917300       No
  3               3  XL78013      Oregon             22332.439460      Yes
  4               4  QA50777      Oregon              9025.067525       No
  ...           ...      ...         ...                      ...      ...
  10905       10905  FE99816      Nevada             15563.369440       No
  10906       10906  KX53892      Oregon              5259.444853       No
  10907       10907  TL39050     Arizona             23893.304100       No
  10908       10908  WA60547  California             11971.977650       No
  10909       10909  IV32877         NaN              6857.519928      NaN

         coverage education effective_to_date employment_status gender  ...  \
  0         Basic   College           2/18/11          Employed      M  ...
  1         Basic   College           1/18/11        Unemployed      F  ...
  2         Basic  Bachelor           2/10/11          Employed      M  ...
  3      Extended   College           1/11/11          Employed      M  ...
  4       Premium  Bachelor           1/17/11     Medical Leave      F  ...
  ...         ...       ...               ...               ...    ...  ...
  10905   Premium  Bachelor           1/19/11        Unemployed      F  ...
  10906     Basic   College            1/6/11          Employed      F  ...
  10907  Extended  Bachelor            2/6/11          Employed      F  ...
  10908   Premium   College           2/13/11          Employed      F  ...
  10909     Basic  Bachelor            1/8/11        Unemployed      M  ...

         number_of_open_complaints number_of_policies     policy_type  \
  0                            0.0                  9  Corporate Auto
  1                            0.0                  1   Personal Auto
  2                            0.0                  2   Personal Auto
  3                            0.0                  2  Corporate Auto
  4                            NaN                  7   Personal Auto
  ...                          ...                ...             ...
  10905                        NaN                  7   Personal Auto
  10906                        0.0                  6   Personal Auto
  10907                        0.0                  2  Corporate Auto
  10908                        4.0                  6   Personal Auto
  10909                        0.0                  3   Personal Auto

               policy  renew_offer_type  sales_channel  total_claim_amount  \
  0      Corporate L3            Offer3          Agent          292.800000
  1       Personal L3            Offer4    Call Center          744.924331
  2       Personal L3            Offer3    Call Center          480.000000
  3      Corporate L3            Offer2         Branch          484.013411
  4       Personal L2            Offer1         Branch          707.925645
  ...             ...               ...            ...                 ...
  10905   Personal L1            Offer3            Web         1214.400000
  10906   Personal L3            Offer2         Branch          273.018929
  10907  Corporate L3            Offer1            Web          381.306996
  10908   Personal L1            Offer1         Branch          618.288849
  10909   Personal L1            Offer4            Web         1021.719397

         vehicle_class vehicle_size vehicle_type
  0      Four-Door Car      Medsize          NaN
  1      Four-Door Car      Medsize          NaN
  2                SUV      Medsize            A
  3      Four-Door Car      Medsize            A
  4      Four-Door Car      Medsize          NaN
  ...              ...          ...          ...
  10905     Luxury Car      Medsize            A
  10906  Four-Door Car      Medsize            A
  10907     Luxury SUV      Medsize          NaN
  10908            SUV      Medsize            A
  10909            SUV      Medsize          NaN

  [10910 rows x 26 columns]),
 ('3.The columns that are numerical:',
  ['unnamed:_0',
   'customer_lifetime_value',
   'income',
   'monthly_premium_auto',
   'months_since_last_claim',
   'months_since_policy_inception',
   'number_of_open_complaints',
   'number_of_policies',
   'total_claim_amount']),
 ('4.The columns that are categorical:',
  ['customer',
   'state',
   'response',
   'coverage',
   'education',
   'effective_to_date',
   'employment_status',
   'gender',
   'location_code',
   'marital_status',
   'policy_type',
   'policy',
   'renew_offer_type',
   'sales_channel',
   'vehicle_class',
   'vehicle_size',
   'vehicle_type']),
 ('5. Checking for `NaN` values after replacing them with "0"',
  unnamed:_0                       0
  customer                         0
  state                            0
  customer_lifetime_value          0
  response                         0
  coverage                         0
  education                        0
  effective_to_date                0
  employment_status                0
  gender                           0
  income                           0
  location_code                    0
  marital_status                   0
  monthly_premium_auto             0
  months_since_last_claim          0
  months_since_policy_inception    0
  number_of_open_complaints        0
  number_of_policies               0
  policy_type                      0
  policy                           0
  renew_offer_type                 0
  sales_channel                    0
  total_claim_amount               0
  vehicle_class                    0
  vehicle_size                     0
  vehicle_type                     0
  dtype: int64),
 ('6. Extracting the months from the dataset. Then filtering the data to show only quarter 1: ',
         unnamed:_0 customer       state  customer_lifetime_value response  \
  0               0  DK49336     Arizona              4809.216960       No
  1               1  KX64629  California              2228.525238       No
  2               2  LZ68649  Washington             14947.917300       No
  3               3  XL78013      Oregon             22332.439460      Yes
  4               4  QA50777      Oregon              9025.067525       No
  ...           ...      ...         ...                      ...      ...
  10905       10905  FE99816      Nevada             15563.369440       No
  10906       10906  KX53892      Oregon              5259.444853       No
  10907       10907  TL39050     Arizona             23893.304100       No
  10908       10908  WA60547  California             11971.977650       No
  10909       10909  IV32877           0              6857.519928        0

         coverage education effective_to_date employment_status gender  ...  \
  0         Basic   College           2/18/11          Employed      M  ...
  1         Basic   College           1/18/11        Unemployed      F  ...
  2         Basic  Bachelor           2/10/11          Employed      M  ...
  3      Extended   College           1/11/11          Employed      M  ...
  4       Premium  Bachelor           1/17/11     Medical Leave      F  ...
  ...         ...       ...               ...               ...    ...  ...
  10905   Premium  Bachelor           1/19/11        Unemployed      F  ...
  10906     Basic   College            1/6/11          Employed      F  ...
  10907  Extended  Bachelor            2/6/11          Employed      F  ...
  10908   Premium   College           2/13/11          Employed      F  ...
  10909     Basic  Bachelor            1/8/11        Unemployed      M  ...

         number_of_policies     policy_type        policy  renew_offer_type  \
  0                       9  Corporate Auto  Corporate L3            Offer3
  1                       1   Personal Auto   Personal L3            Offer4
  2                       2   Personal Auto   Personal L3            Offer3
  3                       2  Corporate Auto  Corporate L3            Offer2
  4                       7   Personal Auto   Personal L2            Offer1
  ...                   ...             ...           ...               ...
  10905                   7   Personal Auto   Personal L1            Offer3
  10906                   6   Personal Auto   Personal L3            Offer2
  10907                   2  Corporate Auto  Corporate L3            Offer1
  10908                   6   Personal Auto   Personal L1            Offer1
  10909                   3   Personal Auto   Personal L1            Offer4

         sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
  0              Agent          292.800000  Four-Door Car       Medsize
  1        Call Center          744.924331  Four-Door Car       Medsize
  2        Call Center          480.000000            SUV       Medsize
  3             Branch          484.013411  Four-Door Car       Medsize
  4             Branch          707.925645  Four-Door Car       Medsize
  ...              ...                 ...            ...           ...
  10905            Web         1214.400000     Luxury Car       Medsize
  10906         Branch          273.018929  Four-Door Car       Medsize
  10907            Web          381.306996     Luxury SUV       Medsize
  10908         Branch          618.288849            SUV       Medsize
  10909            Web         1021.719397            SUV       Medsize

        vehicle_type new_effective_to_date
  0                0            2011-02-18
  1                0            2011-01-18
  2                A            2011-02-10
  3                A            2011-01-11
  4                0            2011-01-17
  ...            ...                   ...
  10905            A            2011-01-19
  10906            A            2011-01-06
  10907            0            2011-02-06
  10908            A            2011-02-13
  10909            0            2011-01-08

  [10910 rows x 27 columns]),
 'data frame: ',
        unnamed:_0 customer       state  customer_lifetime_value response  \
 0               0  DK49336     Arizona              4809.216960       No
 1               1  KX64629  California              2228.525238       No
 2               2  LZ68649  Washington             14947.917300       No
 3               3  XL78013      Oregon             22332.439460      Yes
 4               4  QA50777      Oregon              9025.067525       No
 ...           ...      ...         ...                      ...      ...
 10905       10905  FE99816      Nevada             15563.369440       No
 10906       10906  KX53892      Oregon              5259.444853       No
 10907       10907  TL39050     Arizona             23893.304100       No
 10908       10908  WA60547  California             11971.977650       No
 10909       10909  IV32877           0              6857.519928        0

        coverage education effective_to_date employment_status gender  ...  \
 0         Basic   College           2/18/11          Employed      M  ...
 1         Basic   College           1/18/11        Unemployed      F  ...
 2         Basic  Bachelor           2/10/11          Employed      M  ...
 3      Extended   College           1/11/11          Employed      M  ...
 4       Premium  Bachelor           1/17/11     Medical Leave      F  ...
 ...         ...       ...               ...               ...    ...  ...
 10905   Premium  Bachelor           1/19/11        Unemployed      F  ...
 10906     Basic   College            1/6/11          Employed      F  ...
 10907  Extended  Bachelor            2/6/11          Employed      F  ...
 10908   Premium   College           2/13/11          Employed      F  ...
 10909     Basic  Bachelor            1/8/11        Unemployed      M  ...

        number_of_policies     policy_type        policy  renew_offer_type  \
 0                       9  Corporate Auto  Corporate L3            Offer3
 1                       1   Personal Auto   Personal L3            Offer4
 2                       2   Personal Auto   Personal L3            Offer3
 3                       2  Corporate Auto  Corporate L3            Offer2
 4                       7   Personal Auto   Personal L2            Offer1
 ...                   ...             ...           ...               ...
 10905                   7   Personal Auto   Personal L1            Offer3
 10906                   6   Personal Auto   Personal L3            Offer2
 10907                   2  Corporate Auto  Corporate L3            Offer1
 10908                   6   Personal Auto   Personal L1            Offer1
 10909                   3   Personal Auto   Personal L1            Offer4

        sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
 0              Agent          292.800000  Four-Door Car       Medsize
 1        Call Center          744.924331  Four-Door Car       Medsize
 2        Call Center          480.000000            SUV       Medsize
 3             Branch          484.013411  Four-Door Car       Medsize
 4             Branch          707.925645  Four-Door Car       Medsize
 ...              ...                 ...            ...           ...
 10905            Web         1214.400000     Luxury Car       Medsize
 10906         Branch          273.018929  Four-Door Car       Medsize
 10907            Web          381.306996     Luxury SUV       Medsize
 10908         Branch          618.288849            SUV       Medsize
 10909            Web         1021.719397            SUV       Medsize

       vehicle_type new_effective_to_date
 0                0            2011-02-18
 1                0            2011-01-18
 2                A            2011-02-10
 3                A            2011-01-11
 4                0            2011-01-17
 ...            ...                   ...
 10905            A            2011-01-19
 10906            A            2011-01-06
 10907            0            2011-02-06
 10908            A            2011-02-13
 10909            0            2011-01-08

 [10910 rows x 27 columns])